* {/*forme de la page par defaut*/
    margin: 0;
    padding: 0;/**/
    box-sizing: border-box;/**/
    font-family: 'Poppins', sans-serif;/**/
  }
  body {
    background: #1f242d; /*couleur de la page */
  
  }
  a {
    color: #fff;/**/
    text-decoration: none;/**/
  }
  .navbar {
    position: fixed;
    left: 0;/**/
    top: 0;/**/
    width: 100%;/**/
    padding: 25px 9%;/*Espacement à l'interieur de la barre de navigation*/
    display: flex;/**/
    justify-content: space-between;/**/
    align-items: center;/**/
    z-index: 100;/**/
    visibility: hidden;/**/
    opacity: 0;/**/
    animation: show-content 1.5s linear forwards; 
    animation-delay: 1.2s;
  }
  @keyframes show-content {
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  .navbar .logo {
    font-size: 30px;/*taille du texte*/
    font-weight: 700;/**/
  
  }
  .navbar ul {
    display: flex;/**/
  
  }
  .navbar ul li {
    list-style: none;/**/
    margin-left: 35px;/**/
  }
  .navbar ul li a {
    /* list-size: 20px; */
    font-weight: 500;/**/
    transition: .5s;/**/
  }
  .navbar ul li:hover a,
  .navbar ul li.active a {/*Pour spécifier Le premier lien du site */
    color: #7cf03d;/**/
  }
 
  .portfoloo{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    margin-top: 50px;
    color: #7cf03d;
  }
  .myportf{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    
   }
  .relative{
    border-radius: 20px;
    border: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    padding-right: 20px;
    background-color: #7cf03d;
    transition: transform .2s;
   width: 30%;
   height: 80vh;
    
  }
  .relative:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
    
  }
  
   .relative img{
    width: 98%;
    height: 50vh;
    border-radius: 20px;
    border: 20px;
    
   }
   .link {
    /* border: 0px solid red;
    padding: 20px;
    padding-top: 0%;
    border-radius: 10px 70px; */
    padding: 20px;
    margin: 25px 0 0 15px;
    border-radius: 20px;
    box-shadow: #1f242d -5px 10px;
   }
   .mep{
    padding: 10px;
    margin-left: 20px;
    padding-bottom: 3px;
    /* margin: 25px 0 0 15px; */
    border-radius: 20px;
    box-shadow: #1f242d -5px 10px;
   }
   .monspan{
    color: black;
    margin-top: 55%;
    padding: 15px 0 0px 0px;
    
   }
   .montitre{
    width: 90%;
    height: 15vh;
    border: 20px;
    border-radius: 20px solid white;
   }
   .text-xl{
    padding: 15px 0 25px 6px;
    color: black;
    font-size: 20px;
   }